:root {
  --cor-laranja: #FF9500;
  --cor-amarela: #FFD21F;
  --cor-branca: #FFFF;
  --cor-cinza: #F8FAF9;

  --fonte-itim: 'Itim', cursive, sans-serif;

  @media (max-width: 1024px) {
    
  }
}

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: var(--fonte-itim);
}

